
@{
    ViewData["Title"] = "EventCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Meeting Created</h1>

p>Your meeting has been created successfully!</p>
<p>Google Meet Link: <a href="@ViewBag.MeetLink" target="_blank">@ViewBag.MeetLink</a></p>